footer.navbar-inverse-bottom{
    background-color: #222;
    padding: 6px 22px 6px 22px;
    color: #ccc;
}
nav.navbar{
    padding: 6px 22px 6px 22px;
    color: #ccc;
}
div#content{
    padding-top: 10px;
}
body{
    overflow-x: hidden;
}
