---
---

$well-color: #f5f8fa;
$title-color: #444;
$content-color: #333;

body{
    font-family: 'Open Sans', sans-serif;
}
.well{
    background-color: $well-color;
    border: none;
    margin-bottom: 0px;
}
a#guide-home{
    position: fixed;
    top: 40px;
    right: 50px;
    transition: all .4s ease-out;
    border-radius: 3px;
}
a#guide-home:hover{
    background: transparent;
    color: black;
    border: solid 1px black;
}
.jumbotron{
    background-color: $well-color;
}
#blog-title{
    font-size: 40px;
    font-weight: 700;
    text-decoration: none;
    color: $title-color;
}
#blog-description{
    font-size: 22px;
    color: #777;
}
#content{
    padding-top: 30px;
    padding-bottom: 30px;
}
a.post-title{
    color: $title-color;
    font-size: 44px;
    font-weight: 700;
    transition: all .4s ease-out;
}
a.post-title:hover{
    color: $title-color;
    text-decoration: none;
    text-shadow: 1px 0px #aaa;
}
.post-content{
    color: $content-color;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.6;
}
.post-details{
    color: #999;
    font-weight: 700;
}

.post-img{
    display: inline;
}
