.indexContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutContainer {
    text-align: center;
}

.projectsContainer {
    text-align: center;
}

.notFoundContainer {
    text-align: center;
}
