.outerDiv {
  background: lightseagreen;
  background: linear-gradient(
    42deg,
    rgba(32, 223, 154, 1) 0%,
    rgba(32, 178, 170, 1) 100%
  );
  min-height: 20rem;
  display: grid;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.siteHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
}

.siteHeaderText {
  color: black;
  font-size: 6rem;
  margin-bottom: 0;
}

@media only screen and (max-width: 600px) {
  .siteHeader {
    flex-direction: column;
  }

  .siteHeaderText {
    font-size: 4rem;
  }
}
